/* Add these styles to your CSS */
.blog {
  text-align: center;
  margin-top: 50px;
  /* Optionally, add other styles as needed */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  text-align: center;
  align-items: center;

  margin-left: 250px;
  margin-right: 250px;
  border: 2px solid hsl(199, 100%, 33%);
}

/* .wrapper .heading-div{
      width: 800px;
      height: 300px;
      position: absolute;
      border: 2px transparent;
  } */

.wrapper .heading-div h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: hsl(199, 100%, 33%);
  font-weight: bold;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
}
.center-wrapper {
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

/* Add any other necessary styles for your blog content and slider */

.box {
  border: none !important;
}

.box .active {
  box-shadow: none !important;
}

.control-btn button {
  background: none !important;
  border: none !important; /* Remove border */
  /* width: 30px;
    height: 30px; */
  border-radius: none;
  cursor: pointer;
  box-shadow: none !important;
  display: flex;
  /* align-items: center; */
  transition: 0.5s;
  padding: 2px;
}

.control-btn .next {
  position: absolute;
  top: 30%;
  right: -100px; /* Adjust the right position as needed */
  z-index: 99;
  color: grey;
}

.control-btn .prev {
  position: absolute;
  top: 30%;
  left: -100px; /* Adjust the left position as needed */
  z-index: 99;
  color: grey;
}

.control-btn .icon {
  font-size: 50px;
  color: grey;
}

.center-wrapper p {
  margin-top: 80px;
}

.center-wrapper h5 {
  padding: 20px;
}
